{% extends "base.html" %}
{% load static %}
{% block contenido %}

<h2 class="mb-4">Proyectos</h2>

<div class="row">
    {% for p in projects %}
    <div class="col-md-4">
        <div class="card mb-3">
            {% if p.imagen %}
            <img src="{{ p.image.url }}" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ p.title }}</h5>
                <a href="{{ p.id }}/" class="btn btn-primary">Ver Detalles</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}